.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-input-background);
  color: white;
  text-align: center;
  height: 200px;
  padding: 50px;
}
