.container {
  background-color: #33a741;
  padding: 10px 0;
}

.linksList {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-lg);
}

.link {
  color: white;
  margin: var(--spacing-lg);
  transition: color 0.2s ease;
}

.link:hover {
  color: orange;
}

.active {
  position: relative;
  color: orange;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: orange;
}

