*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 221, 221);
  margin: 0;
  color: rgb(101, 100, 100);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  color: green;
  text-align: center;
}

