.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items:center;
  border-radius: 8px;
  padding: 10px 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  font-family: sans-serif;
}